{% extends "base.html" %}

{% block title %}Home{% endblock title %}


{% block content %}
    {% if picture_list %}
        <div class="flex justify-center">
            <div>
                <h2 class="text-white text-opacity-75 font-sans text-lg font-medium ml-4">PHOTOS</h2>
            </div>
        </div>
        <div class="container mt-12 mx-auto">
            <div class="flex grid grid-cols-3 gap-4">
            {% for picture in picture_list %}
                    <div class="rounded mr-4">
                        <img class="w-full rounded transition duration-500 ease-in-out hover:bg-gray-200 transform hover:-translate-y-1 hover:scale-105" src="{{picture.img.url}}" alt="Sunset in the mountains">
                    </div>
            {% endfor %}
        </div>
        </div>
    {% else %}
        <p>No image</p>
    {% endif %}
{% endblock content %}