{% extends "base.html" %}

{% block title %}Search{% endblock title %}

{% block content %}
    {% if picture %}
    <div class="container mt-12 mx-auto">
        <div class="flex grid grid-cols-5 gap-4">
        {% for pictures in picture %}
        <div class="rounded mr-4">
            <img class="w-full rounded transition duration-500 ease-in-out hover:bg-gray-200 transform hover:-translate-y-1 hover:scale-105" src="{{pictures.img.url}}" alt="Sunset in the mountains">
        </div>
        {% endfor %}
    </div>
    </div>
    {% endif %}

{% endblock content %}