{% extends "base.html" %}

{% load static %}

{% block title %}Profile{% endblock title %}

{% block content %}
<div>
  <div class="flex justify-center">
    <h1 class="text-white text-3xl font-medium">About Me</h1>
  </div>
<div class="w-screen h-screen flex justify-center items-center mt-24">
    <div class="container mx-auto max-w-sm rounded-lg overflow-hidden shadow-lg my-2 bg-white">
        {% for profiles in profile %}
      <div class="relative z-10" style="clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 5vw));">
        <img class="w-screen" src="{{ profiles.image.url}}"
             alt="Profile image" />
        <div class="text-center absolute w-full" style="bottom: 4rem">
          <p class="text-white tracking-wide uppercase text-lg font-bold">{{profiles.username}}</p>
          <p class="text-gray-400 text-sm">{{profiles.user.email }}</p>
        </div>
      </div>
      
      <div class="pt-6 pb-8 text-gray-600 text-center">
        <p>Fullstack Developer </p>
        <p class="text-sm">Coding from Planet Earth</p>
      </div>
  
      <div class="pb-10 uppercase text-center tracking-wide flex justify-around">
        <div class="posts">
          <p class="text-gray-400 text-sm">Project</p>
          <p class="text-lg font-semibold text-blue-300">11</p>
        </div>
        
      </div>
      <div class="mb-2 pt-3 flex flex-wrap mx-6 border-t">
        <div class="text-xs mr-2 my-1 uppercase tracking-wider border px-2 text-indigo-600 border-indigo-600 hover:bg-indigo-600 hover:text-indigo-100 cursor-default">
          User experience
        </div>
        <div class="text-xs mr-2 my-1 uppercase tracking-wider border px-2 text-indigo-600 border-indigo-600 hover:bg-indigo-600 hover:text-indigo-100 cursor-default">
          ReactJS
        </div>
        <div class="text-xs mr-2 my-1 uppercase tracking-wider border px-2 text-indigo-600 border-indigo-600 hover:bg-indigo-600 hover:text-indigo-100 cursor-default">
          TailwindCSS
        </div>
        <div class="text-xs mr-2 my-1 uppercase tracking-wider border px-2 text-indigo-600 border-indigo-600 hover:bg-indigo-600 hover:text-indigo-100 cursor-default">
          Javascript
        </div>
        <div class="text-xs mr-2 my-1 uppercase tracking-wider border px-2 text-indigo-600 border-indigo-600 hover:bg-indigo-600 hover:text-indigo-100 cursor-default">
          Django
        </div>
      </div>
    {% endfor %}
    </div>
    
  </div>
  
  <section class="py-12 mt-12">
    <div class="flex justify-center mt-2">
      <a href="https://www.facebook.com/upeksha.mudita.9"><img src="{% static 'img/media_social/facebook.svg' %}" class="h-8 w-8" alt=""/></a>
      <img src="{% static 'img/media_social/gmail.svg' %}" class="h-8 w-8 mx-12" alt=""/>
      <a href="https://github.com/doerikeh"><img src="{% static 'img/media_social/github.svg' %}" class="h-8 w-8" alt=""/></a>
    </div>
    <div class="container mx-auto">
        <div>
            <h1 class="text-2xl font-black text-white pb-6 px-6 md:px-12">
               Hi Im Firdaus AlFajar
            </h1>
        </div>
        <div class="flex flex-wrap px-6">
          <main class="py-4">
            <div class="px-4">
              <div class="block md:flex justify-between md:-mx-2">
                <div class="w-full lg:w-1/3 md:mx-2 mb-4 md:mb-0">
                  <div class="bg-white rounded-lg overflow-hidden shadow relative">
                    <img class="h-full w-full object-cover object-center" src="{% static 'img/speedometer.svg' %}" alt="">
                    <div class="p-4 h-auto md:h-40 lg:h-48">
                      <a href="#" class="block text-blue-500 hover:text-blue-600 font-semibold mb-2 text-lg md:text-base lg:text-lg">
                        Fast Application Speed
                      </a>
                      <div class="text-gray-600 text-sm leading-relaxed block md:text-xs lg:text-sm">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quidem blanditiis unde asperiores? Officia amet perspiciatis ad quibusdam incidunt eaque, nobis, eveniet neque porro id commodi quisquam debitis!
                      </div>
                     
                    </div>
                  </div>
                </div>
                <div class="w-full lg:w-1/3 md:mx-2 mb-4 md:mb-0">
                  <div class="bg-white rounded-lg overflow-hidden shadow relative">
                    <img class="h-full w-full object-cover object-center" src="{% static 'img/shield.svg' %}" alt="">
                    <div class="p-4 h-auto md:h-40 lg:h-48">
                      <a href="#" class="block text-blue-500 hover:text-blue-600 font-semibold mb-2 text-lg md:text-base lg:text-lg">
                        Secure Application
                      </a>
                      <div class="text-gray-600 text-sm leading-relaxed block md:text-xs lg:text-sm">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure aut quia alias ullam eveniet sunt! Ipsa, sunt. Inventore ipsum sit quasi. Alias quasi officiis blanditiis!
                      </div>
                     
                    </div>
                  </div>
                </div>
                <div class="w-full lg:w-1/3 md:mx-2 mb-4 md:mb-0">
                  <div class="bg-white rounded-lg overflow-hidden shadow relative">
                    <img class="h-full w-full object-cover object-center" src="{% static 'img/paint.svg' %}" alt="">
                    <div class="p-4 h-auto md:h-40 lg:h-48">
                      <a href="#" class="block text-blue-500 hover:text-blue-600 font-semibold mb-2 text-lg md:text-base lg:text-lg">
                        Custimezed Design
                      </a>
                      <div class="text-gray-600 text-sm leading-relaxed block md:text-xs lg:text-sm">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi nemo magni saepe cumque error quia quae sint ducimus, maiores doloremque.
                      </div>
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </main>
            
        </div>

    </div>
</section>
<div class="border-b-2 bg-white p-1 container mx-auto">

</div>
<div class="flex justify-center">
  <h2 class="text-white font-medium text-3xl">Project</h2>
</div>
<div class="containe" style="margin-left: 20rem;">
    <div class="max-w-4xl px-10 my-4 py-6 bg-white rounded-lg shadow-md">
      <div class="flex justify-between items-center">
          <span class="font-light text-gray-600">mar 10, 2019</span>
          <a class="px-2 py-1 bg-gray-600 text-gray-100 font-bold rounded hover:bg-gray-500" href="#">Design</a>
      </div>
      <div class="mt-2">
          <a class="text-2xl text-gray-700 font-bold hover:text-gray-600" href="#">Accessibility tools for designers and developers</a>
          <p class="mt-2 text-gray-600">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora expedita dicta totam aspernatur doloremque. Excepturi iste iusto eos enim reprehenderit nisi, accusamus delectus nihil quis facere in modi ratione libero!</p>
      </div>
      <div class="flex justify-between items-center mt-4">
          <a class="text-blue-600 hover:underline" href="#">Read more</a>
          <div>
              <a class="flex items-center" href="#">
                  <img class="mx-4 w-10 h-10 object-cover rounded-full hidden sm:block" src="https://images.unsplash.com/photo-1502980426475-b83966705988?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=373&q=80" alt="avatar">
                  <h1 class="text-gray-700 font-bold">Khatab wedaa</h1>
              </a>
          </div>
      </div>
    </div>
    <div class="max-w-4xl px-10 my-4 py-6 bg-white rounded-lg shadow-md">
      <div class="flex justify-between items-center">
          <span class="font-light text-gray-600">mar 10, 2019</span>
          <a class="px-2 py-1 bg-gray-600 text-gray-100 font-bold rounded hover:bg-gray-500" href="#">Design</a>
      </div>
      <div class="mt-2">
          <a class="text-2xl text-gray-700 font-bold hover:text-gray-600" href="#">Accessibility tools for designers and developers</a>
          <p class="mt-2 text-gray-600">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora expedita dicta totam aspernatur doloremque. Excepturi iste iusto eos enim reprehenderit nisi, accusamus delectus nihil quis facere in modi ratione libero!</p>
      </div>
      <div class="flex justify-between items-center mt-4">
          <a class="text-blue-600 hover:underline" href="#">Read more</a>
          <div>
              <a class="flex items-center" href="#">
                  <img class="mx-4 w-10 h-10 object-cover rounded-full hidden sm:block" src="https://images.unsplash.com/photo-1502980426475-b83966705988?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=373&q=80" alt="avatar">
                  <h1 class="text-gray-700 font-bold">Khatab wedaa</h1>
              </a>
          </div>
      </div>
    </div>
    <div class="max-w-4xl px-10 my-4 py-6 bg-white rounded-lg shadow-md">
      <div class="flex justify-between items-center">
          <span class="font-light text-gray-600">mar 10, 2019</span>
          <a class="px-2 py-1 bg-gray-600 text-gray-100 font-bold rounded hover:bg-gray-500" href="#">Design</a>
      </div>
      <div class="mt-2">
          <a class="text-2xl text-gray-700 font-bold hover:text-gray-600" href="#">Accessibility tools for designers and developers</a>
          <p class="mt-2 text-gray-600">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora expedita dicta totam aspernatur doloremque. Excepturi iste iusto eos enim reprehenderit nisi, accusamus delectus nihil quis facere in modi ratione libero!</p>
      </div>
      <div class="flex justify-between items-center mt-4">
          <a class="text-blue-600 hover:underline" href="#">Read more</a>
          <div>
              <a class="flex items-center" href="#">
                  <img class="mx-4 w-10 h-10 object-cover rounded-full hidden sm:block" src="https://images.unsplash.com/photo-1502980426475-b83966705988?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=373&q=80" alt="avatar">
                  <h1 class="text-gray-700 font-bold">Khatab wedaa</h1>
              </a>
          </div>
      </div>
    </div>
</div>

</div>
{% endblock content%}