{% extends "base.html" %}

{% load static %}

{% block title %}Profile{% endblock title %}

{% block content %}
<div>
  <div class="flex justify-center">
    <h1 class="text-white text-3xl font-medium">About Me</h1>
  </div>
<div class="w-screen h-screen flex justify-center items-center mt-24">
    <div class="container mx-auto max-w-sm rounded-lg overflow-hidden shadow-lg my-2 bg-white">
        {% for profiles in profile %}
      <div class="relative z-10" style="clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 5vw));">
        <img class="w-screen" src="{{ profiles.image.url}}"
             alt="Profile image" />
        <div class="text-center absolute w-full" style="bottom: 4rem">
          <p class="text-white tracking-wide uppercase text-lg font-bold">{{profiles.username}}</p>
          <p class="text-gray-400 text-sm">{{profiles.user.email }}</p>
        </div>
      </div>
      <div class="relative flex justify-between items-center flex-row px-6 z-50 -mt-10">
        <p class="flex items-center text-gray-400"><span
                                                         class=""></span></p>
        <button class="modal-open p-4 bg-red-600 rounded-full hover:bg-red-500 focus:bg-red-700 transition ease-in duration-200 focus:outline-none">
          <svg viewBox="0 0 20 20" enable-background="new 0 0 20 20" class="w-6 h-6">
            <path fill="#FFFFFF" d="M16,10c0,0.553-0.048,1-0.601,1H11v4.399C11,15.951,10.553,16,10,16c-0.553,0-1-0.049-1-0.601V11H4.601
                                    C4.049,11,4,10.553,4,10c0-0.553,0.049-1,0.601-1H9V4.601C9,4.048,9.447,4,10,4c0.553,0,1,0.048,1,0.601V9h4.399
                                    C15.952,9,16,9.447,16,10z" />
          </svg>
        </button>
        <div class="modal opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center">
          <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"></div>
          
          <div class="modal-container bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">
            
            <div class="modal-close absolute top-0 right-0 cursor-pointer flex flex-col items-center mt-4 mr-4 text-white text-sm z-50">
              <svg class="fill-current text-white" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
              </svg>
              <span class="text-sm"></span>
            </div>
      
            <!-- Add margin if you want to see some of the overlay behind the modal-->
            <div class="modal-content py-4 text-left px-6">
              <!--Title-->
              <div class="flex justify-between items-center pb-3">
                <p class="text-2xl font-bold">Input Form Project</p>
                <div class="modal-close cursor-pointer z-50">
                  <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                    <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
                  </svg>
                </div>
              </div>
      
              <form method="POST">
              <div class="">
                <label class="font-medium">Title</label>
                <div class="mt-2">
                  <input type="text" name="title" class="border w-full rounded-md " placeholder="Title">
                </div>
              </div>
              <div class="my-8">
                <label class="font-medium">Tags</label>
                <div class="mt-2">
                  <input type="text" name="tags" data-role="tagsinput" class="border w-full rounded-md" placeholder="Tags"> 
                </div>
              </div>
              <div>
                <label class="font-medium">Deskripsi</label>
                <div class="mt-2">
                  <input type="text" name="deskripsi" class="border w-full rounded-md" placeholder="Deskripsi"> 
                </div>
              </div>
              <!--Footer-->
              <div class="flex justify-end pt-2">
                <button class="px-4 bg-transparent p-3 rounded-lg text-indigo-500 hover:bg-gray-100 hover:text-indigo-400 mr-2" type="submit">Submit</button>
                <button class="modal-close px-4 bg-indigo-500 p-3 rounded-lg text-white hover:bg-indigo-400">Close</button>
              </div>
            </form>
            </div>
          </div>
        </div>
      </div>
      <div class="pt-6 pb-8 text-gray-600 text-center">
        <p>Fullstack Developer </p>
        <p class="text-sm">Coding from Planet Earth</p>
      </div>
  
      <div class="pb-10 uppercase text-center tracking-wide flex justify-around">
        <div class="posts">
          <p class="text-gray-400 text-sm">Project</p>
          <p class="text-lg font-semibold text-blue-300">11</p>
        </div>
        
      </div>
      <div class="mb-2 pt-3 flex flex-wrap mx-6 border-t">
        <div class="text-xs mr-2 my-1 uppercase tracking-wider border px-2 text-indigo-600 border-indigo-600 hover:bg-indigo-600 hover:text-indigo-100 cursor-default">
          User experience
        </div>
        <div class="text-xs mr-2 my-1 uppercase tracking-wider border px-2 text-indigo-600 border-indigo-600 hover:bg-indigo-600 hover:text-indigo-100 cursor-default">
          ReactJS
        </div>
        <div class="text-xs mr-2 my-1 uppercase tracking-wider border px-2 text-indigo-600 border-indigo-600 hover:bg-indigo-600 hover:text-indigo-100 cursor-default">
          TailwindCSS
        </div>
        <div class="text-xs mr-2 my-1 uppercase tracking-wider border px-2 text-indigo-600 border-indigo-600 hover:bg-indigo-600 hover:text-indigo-100 cursor-default">
          Javascript
        </div>
        <div class="text-xs mr-2 my-1 uppercase tracking-wider border px-2 text-indigo-600 border-indigo-600 hover:bg-indigo-600 hover:text-indigo-100 cursor-default">
          Django
        </div>
        <div class="text-xs mr-2 my-1 uppercase tracking-wider border px-2 text-indigo-600 border-indigo-600 hover:bg-indigo-600 hover:text-indigo-100 cursor-default">
          Python
        </div>
      </div>
    {% endfor %}
    </div>
    
  </div>
  
  <section class="py-12 mt-12">
    <div class="flex justify-center mt-2">
      <a href="https://www.facebook.com/upeksha.mudita.9"><img src="{% static 'img/media_social/facebook.svg' %}" class="h-8 w-8" alt=""/></a>
      <img src="{% static 'img/media_social/gmail.svg' %}" class="h-8 w-8 mx-12" alt=""/>
      <a href="https://github.com/doerikeh"><img src="{% static 'img/media_social/github.svg' %}" class="h-8 w-8" alt=""/></a>
    </div>
    <div class="container mx-auto">
        <div>
            <h1 class="text-2xl font-black text-white pb-6 px-6 md:px-12">
               Hi Im Firdaus AlFajar
            </h1>
        </div>
        <div class="flex flex-wrap px-6">
          <main class="py-4">
            <div class="px-4">
              <div class="block md:flex justify-between md:-mx-2">
                <div class="w-full lg:w-1/3 md:mx-2 mb-4 md:mb-0">
                  <div class="bg-white rounded-lg overflow-hidden p-4 shadow relative">
                    <img class="h-full w-full object-cover object-center" src="{% static 'img/speedometer.svg' %}" alt="">
                    <div class="p-4 h-auto md:h-40 lg:h-48">
                      <a href="#" class="block text-blue-500 hover:text-blue-600 font-semibold mb-2 text-lg md:text-base lg:text-lg">
                        Fast Application Speed
                      </a>
                      <div class="text-gray-600 text-sm leading-relaxed block md:text-xs lg:text-sm">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quidem blanditiis unde asperiores? Officia amet perspiciatis ad quibusdam incidunt eaque, nobis, eveniet neque porro id commodi quisquam debitis!
                      </div>
                     
                    </div>
                  </div>
                </div>
                <div class="w-full lg:w-1/3 md:mx-2 mb-4 md:mb-0">
                  <div class="bg-white rounded-lg p-4 overflow-hidden shadow relative">
                    <img class="h-full w-full object-cover object-center" src="{% static 'img/shield.svg' %}" alt="">
                    <div class="p-4 h-auto md:h-40 lg:h-48">
                      <a href="#" class="block text-blue-500 hover:text-blue-600 font-semibold mb-2 text-lg md:text-base lg:text-lg">
                        Secure Application
                      </a>
                      <div class="text-gray-600 text-sm leading-relaxed block md:text-xs lg:text-sm">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure aut quia alias ullam eveniet sunt! Ipsa, sunt. Inventore ipsum sit quasi. Alias quasi officiis blanditiis!
                      </div>
                     
                    </div>
                  </div>
                </div>
                <div class="w-full lg:w-1/3 md:mx-2 mb-4 md:mb-0">
                  <div class="bg-white rounded-lg p-4 overflow-hidden shadow relative">
                    <img class="h-full w-full object-cover object-center" src="{% static 'img/paint.svg' %}" alt="">
                    <div class="p-4 h-auto md:h-40 lg:h-48">
                      <a href="#" class="block text-blue-500 hover:text-blue-600 font-semibold mb-2 text-lg md:text-base lg:text-lg">
                        Custimezed Design
                      </a>
                      <div class="text-gray-600 text-sm leading-relaxed block md:text-xs lg:text-sm">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi nemo magni saepe cumque error quia quae sint ducimus, maiores doloremque.
                      </div>
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </main>
            
        </div>

    </div>
</section>
<div class="border-b-2 bg-white p-1 container mx-auto">

</div>
<div class="flex justify-center">
  <h2 class="text-white font-medium text-3xl">Project</h2>
</div>
<div class="container" style="margin-left: 20rem;">
  {% for project in project_list %}
    <div class="max-w-4xl px-10 my-4 py-6 bg-white rounded-lg shadow-md">
    
        <div class="flex justify-between items-center">
            <span class="font-light text-gray-600">{{project.date_created}}</span>
              {% for tag in project.tags.all %}
              <a class="px-2 py-1 bg-gray-600 text-gray-100 font-bold rounded hover:bg-gray-500" href="">#{{tag}}</a>
              {% endfor %}
        </div>
        <div class="mt-2">
            <a class="text-2xl text-gray-700 font-bold hover:text-gray-600" href="#">{{project.title}}</a>
            <p class="mt-2 text-gray-600">{{project.deskripsi}}</p>
        </div>
        <div class="flex justify-between items-center mt-4">
            <a class="text-blue-600 hover:underline" href="#"></a>
            <div>
                <a class="flex items-center" href="#">
                    <img class="mx-4 w-10 h-10 rounded-full hidden sm:block" src="{{project.profile.image.url}}" alt="avatar">
                    <h1 class="text-gray-700 font-bold">{{project.profile.username}}</h1>
                </a>
            </div>
        </div>
      
    </div>
    {% endfor %}
</div>

</div>
{% endblock content%}