<nav class="flex items-center justify-between flex-wrap bg-blue-900 p-6">
    <div class="flex-1">
        <a href="/">
            <h1 class="text-xl"><p class="text-white font-semibold">Bubble</p></h1>
        </a>
    </div>
    <div class="flex-1">
        <form method="GET" action="{% url 'picture:search' %}">
            <div class="md:w-2/3 ml-24 relative">
                <svg id="Capa_1" class="absolute w-6 h-6 mt-2 mr-3 opacity-25 right-0 top-0 " enable-background="new 0 0 515.558 515.558" height="512" viewBox="0 0 515.558 515.558" width="512" 
                xmlns="http://www.w3.org/2000/svg"><path d="m378.344 332.78c25.37-34.645 40.545-77.2 40.545-123.333 0-115.484-93.961-209.445-209.445-209.445s-209.444 93.961-209.444 209.445 93.961 209.445 209.445 209.445c46.133 0 88.692-15.177 123.337-40.547l137.212 137.212 45.564-45.564c0-.001-137.214-137.213-137.214-137.213zm-168.899 21.667c-79.958 0-145-65.042-145-145s65.042-145 145-145 145 65.042 145 145-65.043 145-145 145z"/>
                </svg>
                <input name="search" class="bg-gray-200 appearance-none border-2 border-gray-200 rounded-lg w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500 border" type="text" placeholder="pencarian" />
            </div>
        </form>
    </div>

    {% if user.is_authenticated %}
        <div class="flex-1 ">
            <div class="flex justify-end">
                <a href="user/profile/">
                    <?xml version="1.0"?>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="512px" height="512px" class=""><g><g>
                        <g>
                            <path d="M256,0C114.844,0,0,114.844,0,256s114.844,256,256,256s256-114.844,256-256S397.156,0,256,0z M256,74.667    c67.635,0,122.667,55.031,122.667,122.667S323.635,320,256,320s-122.667-55.031-122.667-122.667S188.365,74.667,256,74.667z     M256,469.333c-69.707,0-131.52-33.755-170.473-85.615c42.676-20.534,103.621-42.385,170.473-42.385    c66.857,0,127.807,21.854,170.474,42.383C387.521,435.577,325.708,469.333,256,469.333z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#3D5174"/>
                        </g>
                    </g></g> </svg>
                </a>
            </div>
        </div>
    {% else %}
        <div class="flex-1">
            <div class="flex justify-end">
                <div class="mr-12 bg-transparent hover:bg-blue-500 text-white-700 font-semibold hover:text-white py-2 px-4 border border-white-500 hover:border-transparent rounded">
                    <a class="text-white" href="user/register/">Register</a>
                  </div>
                <div class="bg-transparent hover:bg-blue-500 text-blue-white font-semibold hover:text-white py-2 px-4 border border-white-500 hover:border-transparent rounded">
                <a class="text-white" href="user/login/">Login</a>
                </div>
            </div>
        </div>
    {% endif %}
</nav>