{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/tagsinput.css' %}">

    <title>{% block title %}{% endblock title %}</title>
</head>
<body class="" style="background-image: linear-gradient(30deg, rgb(73, 104, 204) 0%, rgb(116, 207, 253) 100%); background-attachment: fixed;">
    <div class="grad-bar"></div>

    {% include "include/navbar.html" %}
    {% for message in messages %}
        <div class="{{message.tags}}">
            {{message}}
        </div>
    {% endfor %}
    {% block content %}
    {% endblock content %}
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/tagsinput.js' %}"></script>
</body>
</html>