{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/tagsinput.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.fileupload.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script>
		$(document).ready(function(){
			$('#ex1').zoom();
		});
	</script>

    <title>{% block title %}{% endblock title %}</title>
</head>
<body class="" style="background-image: linear-gradient(30deg, rgb(73, 104, 204) 0%, rgb(116, 207, 253) 100%); background-attachment: fixed;">
    <div class="grad-bar"></div>

    {% include "include/navbar.html" %}
    {% for message in messages %}
        <div class="{{message.tags}}">
            {{message}}
        </div>
    {% endfor %}
    {% block content %}
    {% endblock content %}
    {% block js %}
    {% endblock js %}
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/tagsinput.js' %}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{% static 'js/tmpl.min.js' %}"></script>
    <script src="{% static 'js/jquery.ui.widget' %}"></script>
    <script src="{% static 'js/jquery.fileupload-ui.js' %}"></script>
    <script src="{% static 'js/zoom.js' %}"></script>
    <script>
        /*Toggle dropdown list*/
        /*https://gist.github.com/slavapas/593e8e50cf4cc16ac972afcbad4f70c8*/
    
        var userMenuDiv = document.getElementById("userMenu");
        var userMenu = document.getElementById("userButton");
    
        var navMenuDiv = document.getElementById("nav-content");
        var navMenu = document.getElementById("nav-toggle");
    
        document.onclick = check;
    
        function check(e) {
            var target = (e && e.target) || (event && event.srcElement);
    
            //User Menu
            if (!checkParent(target, userMenuDiv)) {
                // click NOT on the menu
                if (checkParent(target, userMenu)) {
                    // click on the link
                    if (userMenuDiv.classList.contains("invisible")) {
                        userMenuDiv.classList.remove("invisible");
                    } else { userMenuDiv.classList.add("invisible"); }
                } else {
                    // click both outside link and outside menu, hide menu
                    userMenuDiv.classList.add("invisible");
                }
            }
    
            //Nav Menu
            if (!checkParent(target, navMenuDiv)) {
                // click NOT on the menu
                if (checkParent(target, navMenu)) {
                    // click on the link
                    if (navMenuDiv.classList.contains("hidden")) {
                        navMenuDiv.classList.remove("hidden");
                    } else { navMenuDiv.classList.add("hidden"); }
                } else {
                    // click both outside link and outside menu, hide menu
                    navMenuDiv.classList.add("hidden");
                }
            }
    
        }
    
        function checkParent(t, elm) {
            while (t.parentNode) {
                if (t == elm) { return true; }
                t = t.parentNode;
            }
            return false;
        }
        </script>
    <script>
		$(document).ready(function(){
			$('#ex1').zoom();
			$('#ex2').zoom({ on:'grab' });
			$('#ex3').zoom({ on:'click' });			 
			$('#ex4').zoom({ on:'toggle' });
		});
	</script>
</body>
</html>